.game{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.board-row {
  display: flex;
}

.square-row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
